<div class="center">
  <p>Executable: <%= bindings['executable'] %></p>
  <br/>
  <% bindings['executable_meta'].each do |method, arguments| %>
    <p>Method: <%= method %></p>
    Arguments:
    <form method="post" action=<%="#{request.script_name}/execute"%>>
      <input type="text" hidden name="executable_method" value=<%= method %>>
      </input>
      <input type="text" hidden name="executable_class" value=<%= bindings['executable'] %>>
      </input>
      <% arguments.each_with_index do |arg, index| %>
        <input type="text" name=<%= "argumnets[#{index}]" %> placeholder=<%= arg %>>
        </input>
        <br/>
      <% end %>
      <input type="checkbox" name="async">
       Async?
      </input>
      <br/>
      <button type="submit">
        Execute
      </button>
    </form>
  <br/>
  <% end %>
</div>
