<% bindings['executable_meta'].each do |method, arguments| %>
  Executable: <%= bindings['executable'].upcase %>
  <br/>
  Method: <%= method.to_s.upcase %>
  <br/>
  Arguments:
  <form method="post" action=<%="#{request.script_name}/execute"%>>
    <input type="text" hidden name="executable_method" value=<%= method %>>
    </input>
    <input type="text" hidden name="executable_class" value=<%= bindings['executable'] %>>
    </input>
    <% arguments.each_with_index do |arg, index| %>
      <input type="text" name=<%= "argumnets[#{index}]" %> placeholder=<%= arg %>>
      </input>
      <br/>
    <% end %>
    <button type="submit">
      Execute
    </button>
  </form>
<br/>
<% end %>
